@page
@model tracuu.giamkichsan.Pages.FamousPeople.CreateModel
<div class="container">
    <h2>Thêm mới</h2>
    <p>Thông tin những người nổi tiếng</p>
    <div class="panel-group">
        <form class="panel panel-default" method="post">
            <div class="panel-body">
                <div class="form-group">
                    <label for="alias">Bí danh:</label>
                    <input type="text" class="form-control" name="alias" value="@Model.personCommunityModel.Alias">
                </div>
                <div class="form-group">
                    <label for="name">Họ và Tên:</label>
                    <input type="text" class="form-control" name="name" value="@Model.personCommunityModel.Name">
                </div>
                <div class="form-group">
                    <label for="birthday">Ngày sinh:</label>
                    <input type="text" class="form-control" name="birthday" value="@Model.personCommunityModel.Birthday">
                </div>
                <div class="form-group">
                    <label for="address">Nơi sinh:</label>
                    <input type="text" class="form-control" name="address" value="@Model.personCommunityModel.Address">
                </div>
                <div class="form-group">
                    <label for="workCategoryID">Nghề nghiệp:</label>
                    <select class="form-control" name="workCategoryID">
                        <option value="">----</option>
                        @foreach (var item in Model.workCategoriesEntity)
                        {
                            if (item.ID == Model.personCommunityModel.WorkCategoryID)
                            {
                                <option value="@item.ID" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <input type="text" class="form-control" name="facebook" value="@Model.personCommunityModel.Facebook">
                </div>
                <div class="form-group">
                    <label for="youtube">Youtube</label>
                    <input type="text" class="form-control" name="youtube" value="@Model.personCommunityModel.Youtube">
                </div>
                <div class="form-group">
                    <label for="tiktok">Tiktok</label>
                    <input type="text" class="form-control" name="tiktok" value="@Model.personCommunityModel.Tiktok">
                </div>
                <div class="form-group">
                    <label for="wikipedia">Wikipedia</label>
                    <input type="text" class="form-control" name="wikipedia" value="@Model.personCommunityModel.Wikipedia">
                </div>
            </div>
            <div class="panel-footer">
                <input type="hidden" name="id" value="@Model.personCommunityModel.ID"
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>